@font-face
{
	font-family: roboto;
	src: url('/roboto/Roboto-Regular.ttf');
}


body
{
	font-family: DejaVu Sans,verdana,helvetica,arial,sans-serif; 
}

#content, #container, html, body
{
	height: 100%;
}

h1
{
	background-color: #8080ff;
	color: white;
}

#container h2
{
	color: white;
}

h1.admin
{
	background-color : #800000;
	color: white;
}

a
{
	color: #8080ff;
	text-decoration: none;
}
	
em
{
	font-style: normal;
	font-weight: bold;
}

#loginlink
{
	float: right;
	z-index: 999;
	top: 0px;
	text-shadow: black -2px -2px 4px;
	position: relative; 
}

#commands
{
	color: white;
	text-shadow: black -2px -2px 4px;
	z-index: 999;
	position: absolute;
	left: 50px;
}

.fmap_dlg label
{
	color: white; 
	text-shadow: black -2px 2px 4px;
}


a.panolink
{
	color: white;
	background-color: rgba(192,192,255,0.8);
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 15px;
	margin-top: 5px;
}


#container a:hover
{
	color: yellow;
}

#container
{
	overflow: hidden;
	position: relative;
	clear: both;
	text-shadow: black -2px -2px 4px;
	color: white;
}

#searchterm
{
	border-radius: 10px;
}

#map a
{
	color: blue;
}

input[type=button], input[type=submit]
{
	background-color: blue;
	color: white;
}
